<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  {{ partial "head.html" . }}
  <body>
    {{ partial "body-top" . }}
    <main>

      <!-- About -->
      {{/*  {{ partial "about.html" . }}  */}}

      <!-- Program -->
      {{ partial "program.html" . }}

      <!-- Places -->
      {{ partial "places.html" . }}

      <!-- Blog -->
      {{ if not (eq (len (where .Site.RegularPages "Section" "blog")) 0) }}
        {{ partial "blog.html" . }}
      {{ end }}

      <!-- Contact -->
      <!--{{ partial "contact.html" . }}-->

      <!-- Contact -->
      {{ partial "facci_saper.html" . }}

      <!-- Gallery -->
      {{ if not (eq (len (where .Site.RegularPages "Section" "gallery")) 0) }}
        {{ partial "gallery.html" . }}
      {{ end }}

    </main>
    {{ partial "footer.html" . }}
    {{ partial "body-bottom" . }}
  </body>
</html>
