{{ $directory := "content/" }}
{{ $filename := "facci_saper.md" }}
{{ if (where (readDir $directory) "Name" $filename) }}
  <section class="facci_saper" id="facci_saper">
    <div class="container middle-xs">
      <div class="row center-xs">
        <div class="col-xs-12">
          <h1>{{ with $.Site.GetPage "page" "facci_saper" }}{{ .Title }}{{ end }}</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 middle-xs"  style="text-align: center;">
          {{ with $.Site.GetPage "page" "facci_saper" }}
            {{ .Content }}
          {{ end }}
        </div>
      </div>
    </div>
  </section>
{{ end }}
