{{ $directory := "content/" }}
{{ $filename := "places.md" }}
{{ if (where (readDir $directory) "Name" $filename) }}
  <section class="places" id="places">
    <div class="container middle-xs">
      <div class="row center-xs">
        <div class="col-xs-12">
          <h1>{{ with $.Site.GetPage "page" "places" }}{{ .Title }}{{ end }}</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 middle-xs"  style="text-align: center;">
          {{ with $.Site.GetPage "page" "places" }}
            {{ .Content }}
          {{ end }}
        </div>
      </div>
    </div>
  </section>
{{ end }}
